/*10/6 Updated by Ksean*/
/****** Styles Changes ******/

body {
    background-image: url(../img/bg-noise.png);
}

.bg-primary h1,
.bg-primary span {
    color: #292929;
}

.bg-primary li {
    font-weight: 600;
    font-size: .9em;
    line-height: 1.4em;
    list-style-type: none;
}

ul.tips {
    list-style-type: initial;
}

.bg-features {
    background-color: #E3E5E9;
}

.main-pad {
    padding: 0px 0;
    padding: 30px 0 20px;
}

.bookNow {
    background-color: #EFEFEF;
    height: 8.6em;
}

.fixedH {
    height: 12em;
}

.bookNowBtn {
    width: 100%;
    background-color: #FD2A67;
    color: #fff;
    z-index: 5;
    text-align: center;
}

.bookNowTitle {
    color: #4E4E4E;
    font-size: 17px;
    padding: 11px 16px;
    margin-bottom: 0;
    height: 3.2em;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.bookNowPrice {
    color: #4E4E4E;
    font-size: 17px;
    padding: 5px 15px 0px;
    margin-bottom: 0;
    font-weight: 600;
}

.bookNowText {
    color: #5D636C;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    padding: 10px 15px;
    letter-spacing: .8px;
}

.mt2em {
    margin-top: -2em;
}

img.bookHover:hover {
    opacity: 0.95;
}

.p2go {
    margin-bottom: 21px;
}

.p2go img {
    max-height: 508px;
}

.b4go img {
    min-height: 233px;
}

@media (min-width: 769px) {
    .has-dropdown:after {
        visibility: hidden;
    }
    .border-right-line {
        border-right: 1px solid #fff
    }
}

p.mb0 {
    font-size: 0.8em
}

.prime-plus {
    font-size: 2em;
    font-weight: 900;
    color: #292929;
    position: absolute;
    margin-top: -1.3em;
    line-height: 2.4em;
}

@media (min-width: 1024px) {
    form.halves input {
        width: 65%;
    }
    form.halves button {
        width: 35%;
    }
    input.transparent,
    button.transparent {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    input[type="submit"],
    button[type="submit"] {
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media (max-width: 1200px) {
    h1.uppercase {
        font-size: 1.9em;
        margin: -3px 20px 24px;
    }
    .prime-plus {
        font-size: 1em;
    }
}

@media (max-width: 1024px) {
    p.mb0 {
        font-size: .7em;
        line-height: 1.4em;
    }
}
@media (max-width: 768px){
    .spacer {
        display: initial;
        height: 1.5em;
    }
}

.link-list a:after {
    display: none;
}

.bg-subscribe {
    background-color: #DADEE3;
}

input::-webkit-input-placeholder {
    color: #9B9B9B;
}

input:-ms-input-placeholder {
    color: #9B9B9B;
}

input::-moz-placeholder {
    color: #9B9B9B;
}

img.logo:hover {
    opacity: 0.7;
}

.calMonth {
    color: #507AAB;
    font-weight: 700;
    font-size: 1em;
}

/****** Social Media ******/

span.ti-instagram {
    color: #4B5158;
}

img.img-responsive.lazy:hover,
#social-image:hover {
    opacity: 0.95;
}

.social-container.social-instagram .social-content:after,
.social-container.social-instagram .social-content:before {
    content: " ";
    display: table
}

.social-container.social-instagram .social-content:after {
    clear: both
}

.social-container.social-instagram .social-instagram-image {
    display: block;
    width: 33.33%;
    float: left;
    overflow: hidden;
    height:8em
}

.social-container.social-instagram .social-instagram-image img {
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5)
}

.social-container.social-facebook .social-content {
    border-top: 1px dashed #979797;
    font-family: avenirbook, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: scroll;
    padding-top: 2em;
}

.social-container.social-facebook .social-content .social-text {
    background: #fff;
    padding-bottom: 1.2em;
    padding-top: .5em;
    position: relative;
    z-index: 9
}

.social-container.social-facebook .social-content p {
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1em 0 0;
    margin: 0;
    color: #000
}

.social-container.social-facebook .social-content .image {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.social-container.social-facebook .social-content .image a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -5000px;
    overflow: hidden
}

.social-container.social-facebook .social-content .image a img {
    width: 100%;
    height: auto
}

.social-container.social-facebook .social-content .meta {
    background: url(../images/fb-thumb.png) 7px 4px/17px 17px no-repeat #edeff4;
    display: block;
    font-size: 1em;
    line-height: 17px;
    padding: 6px 29px;
    color: #000;
    border-top: 2px solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.social-container.social-facebook .social-content .meta a {
    color: #3b5998!important;
    text-decoration: none!important
}

.social-container.social-facebook .social-content .meta a:hover {
    text-decoration: underline!important
}

.social-container h3.social {
    line-height: 2em
}

.social-container h3.social a,
.social-container h3.social a:hover {
    color: #666;
    text-decoration: none
}

.social-links p {
    color: #999;
    text-transform: uppercase;
    font-family: avenirbook, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 2em 0 2.5em;
    margin: 0
}

.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.social-links ul li {
    float: left;
    position: relative;
    text-align: center;
    width: 16.66%
}

.social-links ul li a {
    display: block;
    color: #999;
    text-transform: uppercase;
    text-decoration: none!important;
    font-family: avenirbook, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.social-links ul li a img {
    width: 62%;
    height: auto;
    display: block;
    margin: 0 auto
}

.social-links ul li a span {
    display: block;
    padding: 1em 0
}


/****** Social Media Share Buttons ******/

.share {
    list-style: none;
    position: absolute;
    margin: 55vh 0;
    padding: 10px 0 7px;
    background: #242424;
    text-align: center;
    z-index: 1000
}

.share a {
    width: 40px;
    height: 28px;
    background: #242424;
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 28px;
    -webkit-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out
}

.share a:hover {
    color: #31ccfd;
    text-decoration: none
}


/* Spinning Plus Icon */

.grid-plus {
    float: right;
    margin-right: 13px;
    margin-top: -29px;
    color: #fff;
    font-weight: 900;
    width: 22px;
    border-radius: 3px;
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}

.grid-plus:hover {
    -webkit-transform: rotate(720deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}


/* Flexslider */

.flexslider {
    border: 4px solid #E3E5E9;
}

ul.slides {
    background: #E3E5E9;
}

p.flex-caption {
    padding: 18px;
    color: #4E4E4E;
    letter-spacing: 1.48px;
    font-weight: 900;
    min-height: 7em;
}

.feature-pad {
    margin-right: 17px;
    background-color: #fff;
}


/* Project Hover Effect */

.zoomin img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all .3s ease-out;
}

.zoomin:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Scroll Trigger */

.anime-start-1 {
  opacity: 0;
  transition: .4s;
}

.anime-end-1 {
  opacity: 1;
}

.imgPlace2go {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #ccc;
  overflow: hidden;
}
.imgPlace2go img {
    max-width: none;
    min-height: 100%;
    min-width: 100%;
}

@media (max-width: 768px) {
.imgPlace2go img {
    width: 150%;
    min-height: 100%;
}

.instaFrame {
    padding: 0;
}
