
/* talk */
#talk{position:fixed; right:50px; bottom:0; z-index:2}
#talk .toggle{display:block; width:200px; padding:5px 20px; background:#6b9e13; border-radius:5px 5px 0 0; font-size:18px; color:#FFF; letter-spacing:1px; box-sizing:border-box;}
#talk .toggle:before{content:""; display:inline-block; width:30px; height:23px; margin-right:10px; background:url(../images/talk_icon.png); vertical-align:sub}
#talk .toggle:after{content:""; float:right; display:block; width:13px; height:8px; margin-top:8px; background:url(../images/talk_arrow.png);}
#talk .window{position:absolute; right:0; bottom:0; width:800px; background:#FFF; border:1px solid #DDD; overflow:hidden;}
#talk .window .left{float:left; width:270px; box-sizing:border-box;height: 495px;overflow-y: scroll;}
#talk .window .left .search{padding:10px; background:#5d8911;}
#talk .window .left .search input{display:block; width:100%; padding:5px 5px 5px 35px; background:url(../images/talk_search.png) 10px center no-repeat #FFF; border:none; border-radius:3px; box-sizing:border-box;}
#talk .window .left .list li{padding:10px; border-bottom:1px solid #DDD; font-size:13px; color:#999; cursor:pointer; transition:all .3s;}
#talk .window .left .list li:before{content:""; display:inline-block; width:32px; height:32px; margin-right:10px; background:url(../images/talk_user.png) left top no-repeat; background-size:200% auto; vertical-align:top;}


#talk .window .left .list li.C:before{background:url(../images/C.svg) left top no-repeat;}
#talk .window .left .list li.B:before{background:url(../images/B.svg) left top no-repeat;}
#talk .window .left .list li.L:before{background:url(../images/L.svg) left top no-repeat;}
#talk .window .left .list li.V:before{background:url(../images/V.svg) left top no-repeat;}

#talk .window .left .list li:hover,
#talk .window .left .list li.active{background:#f8f8f8; color:#6b9e13;}
#talk .window .left .list li > div{display: inline-block;}
#talk .window .right{float:right; width:530px; box-sizing:border-box;}
#talk .window .right .id{padding:15px; background:#6b9e13; font-size:14px; color:#FFF; line-height:15px; letter-spacing:1px;height: 15px;}
#talk .window .right .id .close{position:relative; float:right; display:block; width:15px; height:15px; text-indent:-9999px;}
#talk .window .right .id .close:before{content:""; position:absolute; left:0; top:7px; display:block; width:100%; height:2px; background:#FFF;}

#talk .window .right .msg{height:340px; padding:20px; background:#f8f8f8; border-left:1px solid #DDD;overflow-y: scroll;}
#talk .window .right .msg dl{position:relative; margin-bottom:15px;}
#talk .window .right .msg dl:before{content:""; position:absolute; top:5px; display:block; width:39px; height:39px; background:url(../images/talk_user.png);}
#talk .window .right .msg dt{margin-bottom:10px; padding:10px 15px; border-radius:10px; font-size:14px; line-height:18px;}
#talk .window .right .msg dd{font-size:12px; color:#aaa; letter-spacing:.5px;}

#talk .window .right .msg .recieve{padding-left:50px;}
#talk .window .right .msg .recieve:before{left:0; background-position:left top;}
#talk .window .right .msg .recieve dt{background:#FFF; color:#000;}

#talk .window .right .msg .sent{padding-right:50px;}
#talk .window .right .msg .sent:before{right:0; background-position:right top;}
#talk .window .right .msg .sent dt{background:#efae22; color:#FFF;}
#talk .window .right .msg .sent dd{text-align:right;}

.sent .illustration {
    text-align: right;
}
.recieve .illustration {
    text-align: left;
}
.illustration > img{
    width:100px;
}

#talk .window .right .reply{position:relative; padding:15px 85px 15px 80px; border-top:1px solid #DDD; border-left:1px solid #DDD;}
#talk .window .right .reply textarea,#talk .window .right .reply input{display:block; width:100%; height:40px; border:none; -webkit-appearance:none;}
#talk .window .right .reply button{position:absolute; right:15px; top:15px; padding:10px; background:#8a8a8a; border:none; border-radius:5px; font-size:15px; color:#FFF; letter-spacing:.5px; transition:all .3s;}
#talk .window .right .reply button:hover{background:#6b9e13;}

.talk_side_title {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.talk_side_title:after {
    content: "";
    float: right;
    border-style: solid;
    border-width: 7px 5px 0px 5px;
    border-color: #6B9E13 transparent transparent transparent;
    margin-top: 9px;
}
.talk_side_title.active:after {
    border-width: 0px 5px 7px 5px;
    border-color: transparent transparent #6B9E13 transparent;
}
#talk .window .right .id > button,#talk .window .right .id > a.bid_btn {
    float: right;
    background-color: #EFAE22;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    margin-top: -5px;
}
.reply-group {
    position: absolute;
    left: 0;
    top: 15px;
}
#textList,.illustrationList {
    display: none;
    position: absolute;
    width: 300px;
    z-index: 1024;
    left: 57px;
    top: -190px;
    border: 1px solid rgb(221, 221, 221);
    background: #fff;
    box-shadow: -6px 5px 11px -9px;
}
.textList h3{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.textList a{
    color: #444;
}
.textList li:first-child{
    color: #6B9E13;
}
.illustrationList {
    width: 600px;
    top: -289px;
    height: 285px;
    left: 33px;
}
.illustrationList img {
    height: 50px;
}
.illustrationList li {
    width: calc(100%/6);
    float: left;
    text-align: center;
    padding: 10px 0;
    opacity: .5;
}
.illustrationList li:hover {
    opacity: 1;
}
.new-msg {
    box-shadow:0px 0px 6px 1px lightyellow;
}
.new-msg-list{
    background-color: #EFAE22;
}
#talk .window .left .list li.new-msg-list {
    color: #fff;
}
/*upload*/
#transient_file{
    cursor: pointer;
    font-size: 20px;
    height: 100%!important;
    width: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.fileUpload {
    overflow: hidden;
    position: relative;
}
