@import url("all/reset.css");
@import url("all/owl.carousel.min.css");
@import url("all/modal_bootstrap.css");
@import url("all/font-awesome.css");
@import url("all/jquery.dataTables.css");
@import url("chat.css");

/*star*/
.starTag {    
    width: 20px;
    height: 20px;
    background: url('../images/star.png') no-repeat;
    background-position-y: 0px;
    display: inline-block;
}
.starTag.active {    
    background-position-y: -20px;
}
.text-center {text-align: center}
.text-right {text-align: right;}
/* header */
#header{position:fixed; left:0; top:0; width:100%; background:rgba(255,255,255,.9); z-index:2;}
#header .wrap{position:relative; max-width:1200px; margin:0 auto;}
#header .wrap:after{content:""; display:block; clear:both;}
#top-link{text-align:right;}
#top-link .link{display:inline-block;padding:5px 0; font-size:16px; color:#000;}
#top-link .link:before{content:""; display:inline-block; width:23px; height:21px; margin-right:5px; background:url(../images/top_link.png); vertical-align:middle;}
#top-link .visit{display:inline-block; margin:0 13px; font-size:16px; color:#000;}
#top-link .visit span{color:#1a4da8;}
#top-link .lang{position:relative; display:inline-block; line-height:16px;}
#top-link .lang > a{position:relative; display:block; font-size:14px; color:#000;}
#top-link .lang > a:before{content:""; display:inline-block; width:0; height:0; margin-right:5px; border-style:solid; border-width:5px 3px 0 3px; border-color:#000 transparent transparent transparent; vertical-align:middle;}
#top-link .lang > a:after{content:""; display:inline-block; width:19px; height:19px; margin-left:10px; background:url(../images/language.png); vertical-align:middle;}
#top-link .lang .sub-menu{position:absolute; left:0; top:30px; display:none; width:100%; background:#DDD; z-index:1}
#top-link .lang .sub-menu a{display:block; padding:0 20px; font-size:14px; color:#000; line-height:40px; text-align:center;}
#top-link .lang .sub-menu a:hover{background:#333; color:#FFF;}

#logo{float:left; width:282px; height:53px; margin-right:30px; background:url(../images/logo.svg) no-repeat; background-size:94% auto;background-position: center; text-indent:-9999px;}

#navigation{float:left; margin-top:25px; overflow:hidden;}
#navigation li{display:inline-block;}
#navigation li.btn-2{margin:0 15px;}
#navigation li a{display:block; font-size:22px; color:#000; transition:all .3s;}
#navigation li a:before{content:""; position:relative; display:inline-block; width:34px; height:25px; margin-right:5px; background:url(../images/navi.png);}
#navigation li.btn-1 a:before{background-position:left top;}
#navigation li.btn-2 a:before{background-position:center top;}
#navigation li.btn-3 a:before{background-position:right top;}
#navigation li a:hover{opacity:.6;}

#header .member{float:right; margin:25px 0 10px 0;}
#header .member li{display:inline-block; margin-left:20px;}
#header .member li.hot{margin-left:0;}
#header .member li a{font-size:18px; font-weight:bold; transition:all .3s;}
#header .member li.hot a{color:#ff3a3a;}
#header .member li.hot a:before{content:"HOT"; margin-right:5px; padding:3px; background:#ff3a3a; border-radius:3px; font-size:12px; color:#FFF; vertical-align:middle;}
#header .member li.link a{color:#2e75cc;}
#header .member li.msg{vertical-align:middle;}
#header .member li.msg a{position:relative; display:block; width:36px; height:36px; background:url(../images/msg_tip.png) center center #2e75cc; border-radius:50%; text-indent:-9999px; transition:all .3s;}
#header .member li.msg a span{position:absolute; right:-7px; bottom:0; display:block; width:15px; height:15px; background:#ff3a3a; border-radius:50%; font-size:12px; color:#FFF; line-height:15px; text-align:center; text-indent:0;
}
#header .member li.msg a:hover{background-color:#999;}
#header .member li a:hover{color:#666;}

/* mobile */
#mask{position:fixed; left:0; top:0; display:none; width:100%; height:100%; background:rgba(0,0,0,.8); z-index:9;}
#mobi-btn{position:absolute; left:50%; top:60px; display:none; width:25px; height:25px; margin-left:90px;}
#mobi-btn:before ,
#mobi-btn hr ,
#mobi-btn:after{content:""; display:block; width:25px; height:2px; background:#0045c1;}
#mobi-btn hr{margin:5px 0; border:none;}
#mobile{position:fixed; right:-280px; top:0; width:280px; height:100%; padding-left:60px; box-sizing:border-box; z-index:10;}
#mobile .close{position:absolute; left:0; top:0; display:block; width:60px; height:60px; background:#000;}
#mobile .close:before ,
#mobile .close:after{content:""; position:absolute; left:10px; top:30px; display:block; width:40px; height:2px; background:#FFF;}
#mobile .close:before{transform:rotate(45deg);}
#mobile .close:after{transform:rotate(-45deg);}
#mobile ul{width:220px; height:100%; background:#FFF;}
#mobile li a{display:block; padding:0 20px; border-bottom:1px solid #f1f1f1; font-size:18px; color:#000; line-height:64px;}
#mobile li a:before{content:""; position:relative; display:inline-block; width:34px; height:25px; margin-right:5px; background:url(../images/navi.png); vertical-align:middle;}
#mobile li.btn-1 a:before{background-position:left top;}
#mobile li.btn-2 a:before{background-position:center top;}
#mobile li.btn-3 a:before{background-position:right top;}

/*form*/
.form form{position:relative; margin-bottom:10px; padding:50px; background: #eee; overflow:hidden;}
.form select ,.form input,.form span,.form p {display: inline-block;font-size: 18px;}
.form select ,.form input {height:35px; margin-right:1%; padding:0 10px; border:none; border-radius:5px; font-size:18px; color:#333; line-height:35px; box-sizing:border-box;}
.form select{width:22%;}
.form input{width:30%;}
.form button{display:inline-block; width:120px; background:linear-gradient(#8db459,#639903); border:none; font-size:20px; color:#FFF; line-height:35px; text-align:center; transition:all .3s;}
.form button:hover{background:linear-gradient(#639903,#8db459);}
.form small{font-size:16px; color:#000;padding-left: 15px;}

/* footer */
#footer{padding:30px 0; border-top:1px solid #888;}
#footer .wrap{position:relative; width:96%; max-width:1100px; margin:0 auto; padding-left:260px; box-sizing:border-box;}
#footer .wrap .left{position:absolute; left:0; top:0;}
#footer .wrap .left:before{content:""; display:block; width:177px; height:128px; margin:0 auto 10px auto; background:url(../images/footer_logo.svg); background-size:100% auto;background-position: center;}
#footer .wrap .left > div{display:inline-block;}
#footer .wrap .left .link{margin-right:10px;}
#footer .wrap .left h2{margin-bottom:5px; font-size:14px; color:#000;}
#footer .wrap .left a{display:inline-block; width:33px; height:33px; background:url(../images/social.png); text-indent:-9999px; transition:all .3s;}
#footer .wrap .left a.fb{background-position:left top;}
#footer .wrap .left a.youtube{background-position:-33px top;}
#footer .wrap .left a.wechat{background-position:center top;}
#footer .wrap .left a.skype{background-position:-99px top;}
#footer .wrap .left a.line{background-position:right top;} 
#footer .wrap .left a:hover{opacity:.6;}

#footer .wrap .right{overflow:hidden;}
#footer .wrap .right li{float:left; width:25%; padding-right:5%; box-sizing:border-box;}
#footer .wrap .right li h2{margin-bottom:10px; padding-bottom:5px; border-bottom:1px solid #a0a0a0; font-size:20px; color:#222; font-weight:normal;}
#footer .wrap .right li a{font-size:16px; color:#222; line-height:25px; transition:all .3s;}
#footer .wrap .right li a:hover{color:#999;}

/* copyright */
#copyright{padding:15px; background:#a0a0a0; font-size:14px; color:#FFF; line-height:25px; text-align:center;}

/* side-direct */
#side-direct{position:fixed; right:0; top:50%; margin-top:-174px; z-index:1}
#side-direct li{position:relative; margin-bottom:3px;}
#side-direct li a{display:inline-block; width:55px; height:55px; background:url(../images/side_direct.png) #1a4da8; border-radius:5px 0 0 5px; text-indent:-9999px; transition:all .3s;}
#side-direct li.home a{background-position:left top; background-color:transparent;}
#side-direct li.call a{background-position:-55px top;}
#side-direct li.wechat a{background-position:-110px top;}
#side-direct li.line a{background-position:-165px top;}
#side-direct li.skype a{background-position:-220px top;}
#side-direct li.gotop a{background-position:right top;}
#side-direct li a:hover{background-color:#2093ce;}
#side-direct li.home a:hover{background-color:transparent; opacity:.8;}
#side-direct li .qrcode{position:absolute; right:100%; top:0; display:none; margin-right:6px; padding:10px; background:#3f3f3f; border-radius:5px;}
#side-direct li .qrcode:before{content:""; position:absolute; left:100%; top:10px; display:block; width:0; height:0; border-style:solid; border-width:5px 0 5px 6px; border-color:transparent transparent transparent #3f3f3f;}
#side-direct li .qrcode img{display:block; width:88px; height:auto;}

/* MODAL */
.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative;
}
.modal-dialog {
  z-index: 2200;
}
.modal-body {
  padding: 20px 30px 30px 30px;
}
.inmodal .modal-body {
  background: #f8fafb;
}
.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center;
}
.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.inmodal .modal-title {
  font-size: 26px;
}
.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3;
}
.modal-footer {
  margin-top: 0;
}
/* Button */
.btn-success,.btn-disable {
    display: inline-block;
    padding: 5px 10px;
    background: linear-gradient(#8fb55c , #639904);
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    transition: all .3s;
    font-size: 16px;
    font-weight: 400;
    border: 0;
}
.btn-disable {
    background: #e2e2e2;
}
.btn-success:hover,.btn-disable:hover {
    background: linear-gradient(#639904 , #8fb55c);
}


/* RWD */
@media screen and (max-width:1200px){
/* header */
#header .wrap{padding:5px 15px 40px 15px;}
#logo{margin:10px 0 0 0;}
#top-link{float:right;}
#navigation{position:absolute; left:0; bottom:0; width:100%; background:#ececec;}
#navigation li{float:left; width:33.33%; margin:0 !important;}
#navigation li a{padding:5px 0; text-align:center;}
#header .member{margin-top:5px;}
/* side-direct */
#side-direct{display:none;}
}

@media screen and (max-width:768px){
body{padding-top:162px;}
/* header */
#header .wrap{padding:10px;}
#top-link{float:none; text-align:center;}
#top-link .visit{display:none;}
#logo{position:relative; left:-30px; float:none; width:200px; height:37px; margin:10px auto;}
#navigation{display:none;}
#header .member{float:none; margin:0 auto; text-align:center;}
/* mobile */
#mobi-btn{display:block;}
/* footer */
#footer{padding-bottom:0;}
#footer .wrap{padding-left:0;}
#footer .wrap .left{position:static; margin-bottom:30px; text-align:center;}
#footer .wrap .left:before{width:100px; height:72px;}
#footer .wrap .right li{float:none; width:100%; margin-bottom:20px; padding:0; text-align:center;}
#footer .wrap .right li p{display:inline-block; padding:0 5px;}
}

@media screen and (max-width:480px){
/* header */
#header .member{width:250px;}
#header .member li{margin:5px 9px;}
}

.cursor {cursor:pointer;}

/* MARGINS & PADDINGS */
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}
.p-w-xs {
  padding: 0 10px;
}
.p-w-sm {
  padding: 0 15px;
}
.p-w-m {
  padding: 0 20px;
}
.p-w-md {
  padding: 0 25px;
}
.p-w-lg {
  padding: 0 30px;
}
.p-w-xl {
  padding: 0 40px;
}
.p-h-xs {
  padding: 10px 0;
}
.p-h-sm {
  padding: 15px 0;
}
.p-h-m {
  padding: 20px 0;
}
.p-h-md {
  padding: 25px 0;
}
.p-h-lg {
  padding: 30px 0;
}
.p-h-xl {
  padding: 40px 0;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
