@charset "utf-8";
/* CSS Document */
body{padding-top:100px;}

/* slider */
#slider{position:relative;}
#slider .item{background-position:center bottom; background-size:cover;}
#slider .item .outer{width:96%; max-width:1200px; margin:0 auto; padding:100px 0; text-align:right;}
#slider .item .inner{display:inline-block; padding:2% 8%; background:rgba(0,0,0,.4); text-align:left;}
#slider .item .inner h2{font-size:50px; color:#FFF;}
#slider .item .inner p{font-size:30px; color:#FFF; line-height:50px;}
#slider .item .inner .btn{font-size:20px; color:#FFF; text-align:center;}
#slider .item .inner .btn a{display:inline-block; width:180px; margin:10px; padding:10px 0; background:rgba(26,77,108,.6); border:1px solid #FFF; border-radius:30px; font-size:26px; color:#FFF; box-sizing:border-box; transition:all .3s;}
#slider .item .inner .btn a:hover{background:rgba(26,77,108,1);}
#slider .owl-dots{position:absolute; left:0; bottom:0; width:100%; padding:20px 0; text-align:center;}
#slider .owl-dots .owl-dot{display:inline-block; width:12px; height:12px; margin:0 6px; background:#dcdcdc; border-radius:50%;}
#slider .owl-dots .owl-dot.active{background:#21628b;}

/* marquee */
#marquee{margin-bottom:1px; background:#ececec;}
#marquee .wrap{position:relative; width:96%; max-width:1200px; margin:0 auto; padding:5px 0 5px 40px; box-sizing:border-box;}
#marquee .wrap:before{content:""; position:absolute; left:0; top:5px; display:inline-block; width:30px; height:25px; background:url(../images/marquee.png);}
#marquee .wrap a{display:inline-block; margin:0 60px; font-size:16px; color:#222;}

/* tab-block */
.tab-block .tab-content > li{display:none;}

/* search */
#search{padding:35px 0; background:url(../images/search_bg.jpg) center center; background-size:100% 100%;}
#search .tab-block{width:96%; max-width:1100px; margin:0 auto;}
#search .tabs{text-align:center;}
#search .tabs a{display:inline-block; margin:0 1px; padding:5px 20px; background:#2b2b2b; font-size:25px; color:#FFF; font-weight:bold; transition:all .3s;}
#search .tabs a:hover ,
#search .tabs a.active{background:#6b9e13;}
#search .tab-content > li{padding:20px 80px; background:rgba(255,255,255,.4);}
#search form{position:relative; margin-bottom:10px; padding-right:120px; overflow:hidden;}
#search select ,
#search input{float:left; display:block; height:35px; margin-right:1%; padding:0 10px; border:none; border-radius:5px; font-size:18px; color:#333; line-height:35px; box-sizing:border-box;}
#search select{width:22%;}
#search input{width:30%;}
#search button{position:absolute; right:0; top:0; display:block; width:120px; background:linear-gradient(#8db459,#639903); border:none; font-size:20px; color:#FFF; line-height:35px; text-align:center; transition:all .3s;}
#search button:hover{background:linear-gradient(#639903,#8db459);}
#search .keyword{font-size:16px; color:#000;}
#search .keyword:before{content:""; position:relative; top:3px; display:inline-block; width:15px; height:18px; margin-right:5px; background:url(../images/keyword.png);}
#search .keyword a{display:inline-block; margin-right:10px; border-bottom:1px dashed #6b9e13; font-style:italic; color:#6b9e13; transition:all .3s;}
#search .keyword a:hover{border-color:#999; color:#999;}

/* hot-loan */
#hot-loan{width:96%; max-width:1200px; margin:0 auto; padding:30px 0;}
#hot-loan h2{margin-bottom:30px; font-size:36px; color:#000; text-align:center;}
#hot-loan .tabs{position:relative; margin-bottom:30px; text-align:center;}
#hot-loan .tabs:before{content:""; position:absolute; left:0; bottom:0; display:block; width:100%; height:3px; background:#d1caca;}
#hot-loan .tabs a{position:relative; display:inline-block; padding:0 40px 10px 40px; border-bottom:3px solid transparent; font-size:30px; color:#000;}
#hot-loan .tabs a:before{content:""; position:absolute; left:50%; bottom:0; display:block; width:0; height:0; margin-left:-5px; border-style:solid; border-width:0 5px 5px 5px; border-color:transparent transparent #6b9e13 transparent; opacity:0;}
#hot-loan .tabs a:hover ,
#hot-loan .tabs a.active{border-bottom-color:#6b9e13;}
#hot-loan .tabs a:hover:before ,
#hot-loan .tabs a.active:before{opacity:1;}

#hot-loan .tab-content > li{position:relative; padding-right:330px; overflow:hidden;}

#hot-loan .list li{display:table; width:100%; padding:25px; border-bottom:1px solid #e8e8e8; box-sizing:border-box;}
#hot-loan .list li:nth-child(odd){background:#f6f6f6;}
#hot-loan .list li:nth-child(even){background:#fafafa;}
#hot-loan .list li > div{display:table-cell; padding:0 2%; vertical-align:middle; box-sizing:border-box;}
#hot-loan .list li .type{width:30%;}
#hot-loan .list li .type h3{margin-bottom:10px; font-size:30px; color:#222;}
#hot-loan .list li .type span{display:inline-block; margin-right:10px; font-size:18px; color:#333;}
#hot-loan .list li .type span:before{content:""; display:inline-block; width:21px; height:19px; margin-right:3px; background:url(../images/hot_loan_icon.png); vertical-align:middle;}
#hot-loan .list li .type span.location:before{background-position:left top;}
#hot-loan .list li .type span.require:before{background-position:right top;}
#hot-loan .list li .time{width:30%; font-size:18px; color:#333; word-break:break-all;}
#hot-loan .list li .money{width:20%; font-size:30px; color:#1a4da8; font-weight:bold; word-break:break-all;}
#hot-loan .list li .money:before{content:"$";}
#hot-loan .list li .control{width:20%;}
#hot-loan .list li .control a{display:block; width:130px; margin:5px auto; padding:5px 0; background:#FFF; border:1px solid transparent; border-radius:5px; font-size:18px; text-align:center; font-weight:bold; transition:all .3s;}
#hot-loan .list li .control a.collect{border-color:#7aa82a; color:#7aa82a;}
#hot-loan .list li .control a.more{border-color:#1a4da8; color:#1a4da8;}
#hot-loan .list li .control a:before{content:""; display:inline-block; width:22px; height:25px; margin-right:5px; background:url(../images/hot_loan_control.png); vertical-align:middle;}
#hot-loan .list li .control a.collect:before{background-position:left top;}
#hot-loan .list li .control a.more:before{background-position:right top;}
#hot-loan .list li .control a:hover{opacity:.6;}

#hot-loan .ad{position:absolute; right:0; top:0;}
#hot-loan .ad a{display:block; margin-bottom:20px;}
#hot-loan .ad a img{display:block; width:100%; height:auto;}

/* float-ad */
#float-ad{position:absolute; left:0; padding:10px; background:#FFF; border:1px solid #CCC; z-index:2;}
#float-ad .ad{display:block;}
#float-ad .ad img{display:block; max-width:100%; height:auto;}
#float-ad .close{position:absolute; right:-12px; top:-12px; display:block; width:24px; height:24px; background:url(../images/close.png) #FFF; border:2px solid #FFF; border-radius:50%; text-indent:-9999px; transition:all .3s;}
#float-ad .close:hover{opacity:.6;}

/* progress */
#progress{padding:30px 0; background:url(../images/index_progress_bg.jpg) center center no-repeat; background-size:cover;}
#progress h2{margin-bottom:30px; font-size:36px; color:#FFF; text-align:center;}
#progress .tab-block{width:96%; max-width:1200px; margin:0 auto;}

#progress .tabs{position:relative; margin-bottom:30px; text-align:center;}
#progress .tabs:before{content:""; position:absolute; left:0; bottom:0; display:block; width:100%; height:3px; background:#d1caca;}
#progress .tabs a{position:relative; display:inline-block; padding:0 40px 10px 40px; border-bottom:3px solid transparent; font-size:30px; color:#FFF;}
#progress .tabs a:before{content:""; position:absolute; left:50%; bottom:0; display:block; width:0; height:0; margin-left:-5px; border-style:solid; border-width:0 5px 5px 5px; border-color:transparent transparent #6b9e13 transparent; opacity:0;}
#progress .tabs a:hover ,
#progress .tabs a.active{border-bottom-color:#6b9e13;}
#progress .tabs a:hover:before ,
#progress .tabs a.active:before{opacity:1;}

#progress .tab-content > li{padding:50px 0; overflow:hidden;}

#progress dl{float:left; width:23%; margin:0 1%; text-align:center;}
#progress dt{display:inline-block; margin-bottom:10px;}
#progress dt img{display:block; max-width:100%; height:auto;}
#progress dd span{display:block; font-size:18px; color:#e9e9e9;}
#progress dd h3{margin:10px 0; font-size:30px; color:#FFF;}
#progress dd p{font-size:18px; color:#FFF;}

/* calculation */
#calculation{position:relative; width:96%; max-width:1200px; margin:0 auto; padding:30px 450px 30px 0; box-sizing:border-box;}
#calculation:before{content:""; position:absolute; right:0; top:50%; display:block; width:419px; height:357px; margin-top:-180px; background:url(../images/index_calculation.png) no-repeat; background-size:100% auto;}
#calculation h2{font-size:36px; color:#000;}
#calculation h3{margin:30px 0; font-size:25px; color:#000;}
#calculation p{padding:10px 0; font-size:22px; color:#000;}
#calculation p:before{content:""; display:inline-block; width:26px; height:26px; margin-right:5px; background:url(../images/check.png); vertical-align:middle;}
#calculation a{display:inline-block; margin-top:30px; padding:5px 30px; background:linear-gradient(#8eb55b,#629902); border-radius:5px; font-size:24px; color:#FFF; text-align:center; transition:all .3s;}
#calculation a:hover{background:linear-gradient(#629902,#8eb55b);}

/* report-story */
#report-story{padding:30px 0; background:#f5f5f5;}
#report-story h2{position:relative; margin-bottom:30px; font-size:36px; color:#000; text-align:center;}
#report-story h2 .more{position:absolute; right:5%; top:10px; display:inline-block; padding:5px; border:1px solid #21628b; border-radius:5px; font-size:18px; color:#21628b; font-weight:normal; transition:all .3s;}
#report-story h2 .more:before{content:"+"; margin-right:5px;}
#report-story h2 .more:hover{background:#21628b; color:#FFF;}
#report-story .wrap{width:96%; margin:30px auto; padding:0 50px; box-sizing:border-box;}
#report-story .item a{display:block;}
#report-story .item a img{display:block; width:100%; height:auto;}
#report-story .item a p{position:absolute; left:0; bottom:0; width:100%; padding:10px; background:rgba(0,0,0,.7); font-size:20p; color:#FFF; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; box-sizing:border-box;}
#report-story .owl-nav > div{position:absolute; top:45%; width:14px; height:26px; background:url(../images/report_story_arrow.png); text-indent:-9999px; transition:all .3s;}
#report-story .owl-nav .owl-prev{left:0; background-position:left top;}
#report-story .owl-nav .owl-next{right:0; background-position:right top;}
#report-story .owl-nav > div:hover{opacity:.6;}
#report-story .owl-dots{padding-top:20px; text-align:center;}
#report-story .owl-dots .owl-dot{display:inline-block; width:14px; height:14px; margin:0 8px; background:#dbdbdb; border-radius:50%;}
#report-story .owl-dots .owl-dot.active{background:#21628b;}

/* news */
#news{width:96%; max-width:1200px; margin:0 auto; padding:30px 0;}
#news h2{margin-bottom:30px; font-size:36px; color:#000; text-align:center;}
#news .wrap{margin-bottom:30px;}
#news .wrap li{position:relative; padding:15px 40px 15px 180px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; box-sizing:border-box;} 
#news .wrap li:nth-child(odd){background:#f5f5f5;}
#news .wrap li span{position:absolute; left:40px; top:17px; font-size:22px; color:#06555c;}
#news .wrap li a{font-size:20px; color:#000;}

#news .more{display:block; width:100px; margin:0 auto; padding:5px; border:1px solid #21628b; border-radius:5px; font-size:18px; color:#21628b; font-weight:normal; transition:all .3s;}
#news .more:before{content:"+"; margin-right:5px;}
#news .more:hover{background:#21628b; color:#FFF;}

/* RWD */
@media screen and (max-width:1200px){
body{padding-top:130px;}
/* slider */
#slider .item .outer ,
#slider .item .inner{text-align:center;}
/* float-ad */
#float-ad{display:none;}
}

@media screen and (max-width:1000px){
/* hot-loan */
#hot-loan .tab-content > li{padding:0;}
#hot-loan .ad{display:none;}
/* progress */
#progress dl{position:relative; float:none; width:100%; max-width:450px; margin:0 auto 50px auto; padding-left:180px; text-align:left; box-sizing:border-box;}
#progress dt{position:absolute; left:0; top:0; width:150px;}
/* calculation */
#calculation{padding:30px 0; text-align:center;}
#calculation:before{position:static; margin:0 auto 10px auto;}
}

@media screen and (max-width:768px){
/* slider */
#slider .item .outer{padding:50px 0;}
#slider .item .inner{padding:20px;}
#slider .item .inner h2{margin-bottom:10px; font-size:25px;}
#slider .item .inner p{font-size:18px; line-height:25px;}
#slider .item .inner .btn a{width:100px; margin:10px 5px; font-size:16px;}
/* search */
#search{padding:20px;}
#search .tabs a{padding:5px 15px; font-size:20px;}
#search .tab-content > li{padding:20px;}
#search form{max-width:400px; margin:0 auto 10px auto; padding:0;}
#search select ,
#search input{float:none; width:100%; margin:10px auto;}
#search button{position:static; width:100%;}
/* hot-loan */
#hot-loan{width:100%; padding-bottom:0;}
#hot-loan .tabs{margin:0;}
#hot-loan .tabs a{padding:0 20px 10px 20px; font-size:25px;}
#hot-loan .list li{display:block; padding:10px;}
#hot-loan .list li > div{display:block; width:100% !important; margin-bottom:15px; text-align:center;}
#hot-loan .list li .control a{display:inline-block; margin:5px;}
/* progress */
#progress .tabs a{padding:0 20px 10px 20px; font-size:25px;}
#progress dd h3{font-size:22px;}
#progress dd p{font-size:16px;}
}

@media screen and (max-width:480px){
body{padding-top:190px;}
/* report-story */
#report-story .wrap{margin:10px auto 30px auto; padding:0;}
#report-story h2{margin-bottom:10px;}
#report-story h2 .more{position:static; display:block; width:100px; margin:10px auto 0 auto; background:#21628b; color:#FFF;}
/* calculation */
#calculation:before{width:200px; height:170px;}
#calculation h3{margin:10px 0;}
/* news */
#news .wrap li{padding:10px;}
#news .wrap li span{position:static; display:block; margin-bottom:5px;}
/* talk */
#talk{display:none;}
}