.circle {
    margin: 15px auto 10px;
    width: 25px;
    height: 25px;
    border: 4px solid #ddd;
    border-radius: 50%;
    background: #FAFAFA;
    position: absolute;
    top: -35px;
}
.steps-name {
    color: #333;
    font-weight: 600;
    font-size: 14px;
    margin-top: 23px;
}
.steps-one > .steps-name {margin-left: -7px;}
.steps-two > .steps-name {text-align: center;}
.steps-three > .steps-name {margin-right: -33px;float: right;}

.step-progress {
  background-color: #EEEEEE;
  margin: 0 auto;
}

.step-progress .step-slider {
    position: relative;
    margin: 0 auto;
    padding: 50px 0 0;
    width: 50%;
}

.step-progress .step-slider .step-slider-item {
    width: calc(100% / 3);
    position: relative;
    float: left;
    border-top: 4px solid #ddd;
}
.steps-two > .circle {left: calc(50% - 16px);}
.steps-three > .circle {right: 0;}

.step-progress .step-slider .step-slider-item.active {
  
    border-top: 4px solid #EFAE22 ;
}
.step-progress .step-slider .step-slider-item.active .circle {
  
    border-color: #EFAE22 ;
}
.step-content .step-content-foot {
  text-align: right;
  padding: 0 50px 30px;
}

.step-content .step-content-foot button {
  border: 0;
/*  padding: 8px 16px;
  background-color: #CFD8DC;*/
  font-size: 14px;
/*  border-radius: 3px;
  outline: 0;*/
}

.step-content .step-content-foot button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.step-content .step-content-foot button.out {
  display: none;
}

.step-content .step-content-foot button.disable {
  background-color: #ECEFF1;
}

.step-content .step-content-foot button.active {
  background-color: #00ACC1;
  color: white;
}
.step-content .step-content-body.out {
  display: none;
}