@charset "utf-8";
body{padding-top:120px;}

/* header */
#header{border-bottom:3px solid #dadada;}

/* container */
.wrapper{width:96%; max-width:1210px; margin:0 auto 20px auto; overflow:hidden;}
.wrapper > .left{float:left; width:21.5%; padding:20px; border-right:1px solid #b6b6b6; text-align:right; box-sizing:border-box;}
.wrapper > .left .user{padding:0 20px 20px 20px; border-bottom:1px solid #b6b6b6; font-size:20px; color:#2e75cc; word-break:break-all;}
.wrapper > .left .user:before{content:"Hi,"; padding-right:5px; color:#000;}
.wrapper > .left .user:after{content:"歡迎使用IUNING平台"; display:block; margin-top:5px; font-size:18px; color:#858585;}
.wrapper > .left .control{display:none; border:1px solid #b6b6b6; font-size:20px; color:#333; line-height:50px; cursor:pointer}
.wrapper > .left .control:after{content:""; display:inline-block; width:0; height:0; margin-left:10px; border-style:solid; border-width:10px 7px 0 7px; border-color:#999 transparent transparent transparent;}
.wrapper > .left .control.active:after{border-width:0 7px 10px 7px; border-color:transparent transparent #999 transparent;}
.wrapper > .left .left-menu li h2{padding:30px 0; font-size:22px; color:#000;}
.wrapper > .left .left-menu .sub-menu li{padding:5px 0;}
.wrapper > .left .left-menu .sub-menu li a{font-size:18px; color:#222; transition:all .3s;}
.wrapper > .left .left-menu .sub-menu li a:hover{color:#999;}
.wrapper > .right{float:right; width:75%;}

/* path */
#path{margin-bottom:20px; font-size:15px; color:#000;}
#path .home{display:inline-block; width:20px; height:17px; background:url(../images/path_home.png); text-indent:-9999px; vertical-align:middle; transition:all .3s;}
#path .home:hover{opacity:.6;}
#path a{color:#000; transition:all .3s;}
#path a:hover{color:#666;}
#path span{color:#666;}

/* main-title */
#main-title{margin-bottom:20px; font-size:30px; color:#000; font-weight:bold;}

/* member-center */
#member-center{}
#member-center .slide{position:relative;}
#member-center .slide .item img{display:block; width:100%; height:auto;}

#member-center .slide .owl-nav > div{position:absolute; top:50%; width:14px; height:27px; margin-top:-27px; background:url(../images/member_center_arrow.png) no-repeat; text-indent:-9999px; transition:all .3s;}
#member-center .slide .owl-nav .owl-prev{left:10px; background-position:left top;}
#member-center .slide .owl-nav .owl-next{right:10px; background-position:right top;}
#member-center .slide .owl-nav > div:hover{opacity:.6;}
#member-center .slide .owl-dots{padding:15px 0; text-align:center;}
#member-center .slide .owl-dots .owl-dot{display:inline-block; width:14px; height:14px; margin:0 8px; background:#dbdbdb; border-radius:50%;}
#member-center .slide .owl-dots .owl-dot.active{background:#21628b;}

#member-center .news{margin-bottom:30px; padding:15px; border:1px solid #e6e6e6;}
#member-center .news h2{padding:5px; border-bottom:1px solid #3e6296; font-size:30px; color:#21628b;}
#member-center .news li{position:relative; padding:10px 0 10px 145px; font-size:20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#member-center .news li span{position:absolute; left:5px; top:10px; color:#06555c;}
#member-center .news li a{color:#000; transition:all .3s;}
#member-center .news li a:hover{color:#999;}

#member-center .link{overflow:hidden;}
#member-center .link li{float:left; width:25%; padding:0 2.5%; box-sizing:border-box;}
#member-center .link li a{display:block; font-size:25px; color:#000; text-align:center; font-weight:bold; transition:all .3s;}
#member-center .link li a:before{content:""; display:block; width:100%; margin:0 auto 15px auto; padding-bottom:100%; background:url(../images/member_center.png); background-size:400% auto; border:2px solid #6b9e13; border-radius:50%;}
#member-center .link li.btn-1 a:before{background-position:left top;}
#member-center .link li.btn-2 a:before{background-position:-100% top;}
#member-center .link li.btn-3 a:before{background-position:-200% top;}
#member-center .link li.btn-4 a:before{background-position:right top;}
#member-center .link li a:hover{opacity:.6;}

/* closed-record */
#closed-record{width:100%; font-size:16px; color:#000; line-height:25px;}
#closed-record thead{border-bottom:2px solid #dadada;}
#closed-record th{padding:10px 1%; font-weight:bold; text-align:center;}
#closed-record td{padding:10px 1%; word-break:break-all; box-sizing:border-box;}
#closed-record .col-1{width:28%;}
#closed-record .col-2{width:11%; text-align:center;}
#closed-record .col-3{width:16%;}
#closed-record .col-4{width:11%; text-align:center;}
#closed-record .col-5{width:6%; text-align:center;}
#closed-record .col-6{width:10%; text-align:center;}
#closed-record .col-7{width:9%; text-align:center;}
#closed-record .col-8{width:8%; text-align:center;}
#closed-record .info li{position:relative; padding-left:80px;}
#closed-record .info li span{position:absolute; left:0; top:0; display:block; width:65px; color:#7f7f7f; text-align:right;}
#closed-record b.ready{color:#2e75cc;}
#closed-record b.success{color:#6b9e13;}
#closed-record b.failed{color:#ff0000;}
#closed-record .agree{display:inline-block; padding:3px 10px; background:linear-gradient(#8fb55c , #639904); border-radius:3px; color:#FFF; cursor:pointer; transition:all .3s;}
#closed-record .agree:hover{background:linear-gradient(#639904 , #8fb55c);}
#closed-record .agree.disable{background:#e2e2e2;}
#closed-record .step ul{overflow:hidden;}
#closed-record .step li{position:relative; float:left; background:#dadada; box-shadow:3px 0 0 #FFF; font-size:15px; color:#6c6c6c; line-height:26px; text-align:center;}
#closed-record .step li:nth-child(1),
#closed-record .step li:nth-child(2){width:33%;}
#closed-record .step li:nth-child(3){width:34%;}
#closed-record .step li:before ,
#closed-record .step li:after{content:""; position:absolute; top:-2px; display:block; width:0; height:0; border-style:solid; border-width:15px 0 15px 10px;}
#closed-record .step li:before{left:100%; border-color:transparent transparent transparent #FFF; z-index:1;}
#closed-record .step li:after{left:99%; border-color:transparent transparent transparent #dadada; z-index:2;}
#closed-record .step li.active{background:#2e75cc; color:#FFF;}
#closed-record .step li.active:after{border-left-color:#2e75cc;}

#closed-record.breakpoint .expand{padding-left:30px; background:url(../images/plus.png) left center no-repeat;}
#closed-record.breakpoint .footable-detail-show .expand{background-image:url(../images/minus.png);}
#closed-record.breakpoint .step{padding-left:1%; background:none;}

/* tab-block */
.tab-block .tab-content > li{display:none;display: list-item;position:relative;}
.tab-block .tabs{position:relative; margin-bottom:30px; text-align:center;}
.tab-block .tabs:before{content:""; position:absolute; left:0; bottom:0; display:block; width:100%; height:3px; background:#d1caca;}
.tab-block .tabs a{position:relative; display:inline-block; padding:0 40px 10px 40px; border-bottom:3px solid transparent; font-size:30px; color:#000;}
.tab-block .tabs a:before{content:""; position:absolute; left:50%; bottom:0; display:block; width:0; height:0; margin-left:-5px; border-style:solid; border-width:0 5px 5px 5px; border-color:transparent transparent #6b9e13 transparent; opacity:0;}
.tab-block .tabs a:hover ,
.tab-block .tabs a.active{border-bottom-color:#6b9e13;}
.tab-block .tabs a:hover:before ,
.tab-block .tabs a.active:before{opacity:1;}

/* Button */
.control a {
    display: block;
    width: 130px;
    margin: 5px auto;
    padding: 5px 0;
    background: #FFF;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    transition: all .3s;
}
.control a:hover {
    opacity: .6;
}
.control a::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 25px;
    margin-right: 5px;
    background: url(../images/hot_loan_control.png);
    vertical-align: middle;
}
.control a.collect {
    border-color: #7aa82a;
    color: #7aa82a;
}
.control a.collect::before {
    background-position: left top;
}
.control a.more {
    border-color: #1a4da8;
    color: #1a4da8;
}
.control a.more::before {
    background-position: right top;
}

/* RWD */
@media screen and (max-width:1200px){
body{padding-top:140px;}

@media screen and (max-width:768px){
body{padding-top:162px;}
/* header */
#header .wrap{padding:10px;}
#top-link{float:none; text-align:center;}
#top-link .visit{display:none;}
#logo{position:relative; left:-30px; float:none; width:200px; height:37px; margin:10px auto;}
#navigation{display:none;}
#header .member{float:none; margin:0 auto; text-align:center;}
/* mobile */
#mobi-btn{display:block;}
/* container */
.wrapper > .left ,
.wrapper > .right{float:none; width:100%;}
.wrapper > .left{margin-bottom:50px; padding:0; border:none; text-align:center;}
.wrapper > .left .user{border:none;}
.wrapper > .left .control{display:block;}
.wrapper > .left .left-menu ,
.wrapper > .left .left-menu .sub-menu{display:none;}
.wrapper > .left .left-menu{border:1px solid #b6b6b6; border-top:none;}
.wrapper > .left .left-menu li h2{padding:20px 0; cursor:pointer;}
}

@media screen and (max-width:520px){
/* closed-record */
#closed-record .col-1{width:auto;}
#closed-record .col-8{width:100px}
#closed-record .info li{padding-left:0;}
#closed-record .info li span{position:static; text-align:left;}
}

@media screen and (max-width:480px){
body{padding-top:210px;}
/* member-center */
#member-center .news li{padding-left:0; white-space:normal;}
#member-center .news li span{position:static; display:block; margin-bottom:5px;}
#member-center .link li{width:50%; margin-bottom:20px; padding:0 5%;}
}