/* 
    Author     : ALTsai
*/


/*global css*/
@import "app.css";

/*page level css*/
@import "plugins/custom.css";
@import "plugins/custom_skins/skin-default.css";
@import "plugins/advbuttons.css";
@import "datatable.css";

/*header*/
.skin-default .navbar {
    background: url("../img/nav_bg.jpg") repeat;
}

/*breadcrumb*/
.right-side {
    > .content-header {
        height: auto;
        > .breadcrumb {
            padding: 8px 15px;
        }
    }
}
/*content*/
.panel-body {
    h3 {
        margin-bottom:30px;
    }
}
/*table*/
.table { 
    > thead > tr > th,
    > tbody > tr > td{
        vertical-align: middle;
    }
    img {
        width: 200px;
    }
}
/*modal*/
.modal-header {
    background-color: #33CC99;
    color: #fff;
}