/* 
    Author     : ALTsai
*/
/*global css*/
@import url(app.css);
/*page level css*/
@import url(plugins/custom.css);
@import url(plugins/custom_skins/skin-default.css);
@import url(plugins/advbuttons.css);
@import url(datatable.css);
/*header*/
.skin-default .navbar {
  background: url("../img/nav_bg.jpg") repeat; }

/*breadcrumb*/
.right-side > .content-header {
  height: auto; }
  .right-side > .content-header > .breadcrumb {
    padding: 8px 15px; }

/*content*/
.panel-body h3 {
  margin-bottom: 30px; }

/*table*/
.table > thead > tr > th,
.table > tbody > tr > td {
  vertical-align: middle; }
.table img {
  width: 200px; }

/*modal*/
.modal-header {
  background-color: #33CC99;
  color: #fff; }

/*# sourceMappingURL=global.css.map */
