/*  Author     : ALTsai  */
@import url(all/bootstrap.min.css);
@import url(all/font-awesome.css);
@import url(all/animate.css);
@import url(all/style.css);
@import url(all/jquery.dataTables.css);
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("all/fonts/glyphicons-halflings-regular.eot");
  src: url("all/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("all/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("all/fonts/glyphicons-halflings-regular.woff") format("woff"), url("all/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("all/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.float-left {
  float: left; }

.float-right {
  float: right; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.cursor {
  cursor: pointer; }

/* Color */
/* Size */
.navbar-fixed-top, body {
  background-color: #fff; }

.logo {
  background: url("http://www.fooddy.co/rr/img/logo.jpg") no-repeat;
  background-color: transparent;
  background-size: auto auto;
  width: 80px;
  height: 38px;
  background-size: 80px 38px; }

#header + .container {
  margin-top: 59px; }

#sidebar {
  background-color: #2f4050; }

#footer {
  background-color: #858585; }

/*
.navbar {
    min-height: $headerHeight;
}
.navbar-fixed-top, .navbar-static-top {
    background-color: $whiteColor;
}
.navbar-default .navbar-nav > li > a{
    padding: 6px 20px;
}
.logo {
    background:url('../img/arofly_logo.png') no-repeat;
    width: 162px;
    height: 20px;
    background-size: 162px 20px;
    margin-top: 7px;
}
.wrapper-content {
    margin-top: $headerHeight;
    padding-top: $headerHeight;
}
.btn {
    color: $whiteColor;
    padding: 10px;
    &:hover {
        color: $whiteColor;
    }
} 
.btn-lg {
    padding: 6px 70px;
} 
.btn-facebook {
    background-color: $fbColor;
    border-color: $fbColor;
}
.btn-google {
    background-color: $googleColor;
    border-color: $googleColor;
} 
.btn-blue-dark {
    background-color: $mainColor;
    border-color: $mainColor;
} 
.btn-blue-light {
    background-color: $btnColor;
    border-color: $btnColor;
}
.btn-white {
    border-color: $whiteColor; 
    background-color: $alpha;
}
.btn-outline {
    border-color: $mainColor; 
    background-color: $alpha; 
    color: $mainColor;
}
.btn-outline-white {
    border-color: $whiteColor; 
    background-color: $alpha; 
    color: $whiteColor; 
}
.main-color {
    color: $mainColor;
}
.gray-color {
    color: $grayColor;
}
.gray-dark-color {
    color: $darkgrayColor;
}
.orange-color {
    color: $orangeColor;
}
.blue-color {
    color: $blueColor;
}
.blue-dark-color {
    color: $darkblueColor;
}
.green-color {
    color: $greenColor;
}
.purple-color {
    color: $purpleColor;
}
.red-color {
    color: $redColor;
}

@mixin tab-style{
    li{
        position:relative;
        float:left;
        display: block;
        opacity: 0.8;
        cursor:pointer;
        &.active{
            a{
                border-top: 5px solid $mainColor;
                border-right:1px solid #e7eaec;
                border-left:1px solid #e7eaec;
                border-bottom:5px solid $whiteColor;
                opacity: 1;
                color: $darkgrayColor;
                span {
                    color: $mainColor;
                }
            }
        }
    }
    a {
        padding: 10px 30px;
        color:$grayColor;
        &:hover{
            color: $darkgrayColor;
        }
    }
}

ul{
    &.main-tabs{
        display: inline-block;
        padding: 0;
        margin-bottom: 6px;
        @include tab-style;
        &.data-tabs{ 
            margin-top: 15px;
            li{ 
                width: 25%;
            } 
        }
    }
}
#footer {
    border-top: 1px solid $grayColor;
}
*/

/*# sourceMappingURL=global.css.map */
