/* 
    Author     : ALTsai
    Update     : 2017/4/21
*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('all/fonts/glyphicons-halflings-regular.eot');
  src: url('all/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('all/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('all/fonts/glyphicons-halflings-regular.woff') format('woff'), url('all/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('all/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.float-left { float: left;}
.float-right { float: right;}
.block { display: block;}
.inline-block { display: inline-block;}

:root{
    --headerHeight : 55px;
    --mainColor : #245BA8;
    --btnColor : #4784ED;
    --fbColor : #3B5992;
    --googleColor : #E05958;
    --whiteColor : #fff;
    --grayColor : #636564;
    --alpha : rgba(0,0,0,0);
}


body {
    background-color: var(--whiteColor);
}
.navbar {
    min-height: var(--headerHeight);
}
.navbar-fixed-top, .navbar-static-top {
    background-color: var(--whiteColor);
}
.navbar-default .navbar-nav > li > a{
    padding: 6px 20px;
}
.logo {
    background:url('../img/logo.png') no-repeat;
    width: 80px;
    height: 38px;
    background-size: 80px 38px;
}
.wrapper-content {
    margin-top: var(--headerHeight);
    padding-top: var(--headerHeight);
}
.wrapper i {
    margin-right: 5px;
}
.btn {
    color: var(--whiteColor);
    padding: 10px;
} 
.btn-lg {
    padding: 6px 70px;
} 
.btn-facebook {
    background-color: var(--fbColor);
    border-color: var(--fbColor);
}
.btn-google {
    background-color: var(--googleColor);
    border-color: var(--googleColor);
} 
.btn-blue-dark {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
} 
.btn-blue-light {
    background-color: var(--btnColor);
    border-color: var(--btnColor);
}
.btn-white {
    border-color: var(--whiteColor); 
    background-color: --alpha;
}
.btn-outline {
    border-color: var(--mainColor); 
    background-color: var(--alpha); 
    color: var(--mainColor);
}
.btn-outline-white {
    border-color: var(--whiteColor); 
    background-color: var(--alpha); 
    color: var(--whiteColor); 
}
/*content*/
.title i{
    padding-right: 10px;
}
.title select{
    width: 100px;
    margin-left: 20px;
    vertical-align: middle;
}
.table-title span{
    margin-right: 20px; 
}
.hr-line-dashed {
    margin: 10px 0;
}
.nav > li.active {
    border-top: 4px solid var(--mainColor);
}
.clients-list .nav-tabs > li.active > a, .clients-list .nav-tabs > li.active > a:hover, .clients-list .nav-tabs > li.active > a:focus {    
    border-left: 0;
    border-right: 0;
}
#footer {
    border-top: 1px solid var(--grayColor); 
}
.list-inline > li {
    background-color: var(--grayColor);
    border-radius: 100%;
    padding: 5px 11px;
    margin-right: 5px; 
}
.list-inline > li > a {
    color: var(--whiteColor);
}

@media (max-width: 768px) {
  .navbar .navbar-header { 
    display: block;
    float: none;
  }
  .navbar .navbar-header .navbar-toggle {
    background-color: #ffffff;
    padding: 9px 10px;
    border: none;
    margin-top: 0;
  }
}

