/* 
    Author     : ALTsai
    Update     : 2017/4/17
*/
.wrapper {
    min-height: calc(100% - var(--headerHeight) * 3 -40px);
}
.wrapper-content {
    background:rgba(0,0,0,0.3) no-repeat;
    /*background:rgba(0,0,0,0.3) url('../img/banner.png') no-repeat;*/
    background-size: 100% auto;
}
.login-box {
    float: none;
    margin: auto;
    background: rgba(0,0,0,.7);
    color: #FDFDFD;
}
form h1 { 
    margin: 0;
} 
.hr-with-text:before, .hr-with-text:after {
    content: '';
    position: absolute;
    width: 33%;
    border-top: 0.1em solid rgba(255,255,255,0.5);
    top: 50%;
}
.hr-with-text:before {
  right: 0;
}
.hr-with-text:after {
  left: 0;
}
.form-group > .form-control {
    background-color: rgba(0,0,0,0);
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}