/* 
    Created on : 2016/12/15
    Author     : ALTsai
    Update     : 2017/04/07
*/
.float-left { float: left;}
.float-right { float: right;}
.center { text-align: center;}
.align-left { text-align: left;}
.align-right { text-align: right;}
.block { display: block;}
.inline-block { display: inline-block;}


/*--- 
    font-size    
----*/
/*html { font-size:13px; }
body { font-size:1rem; }

#sidebar,#header,.breadcrumb,form,textarea,.modal-content,.label,h5,
.btn,.btn-group-sm > .btn, .btn-sm,
.form-control, .single-line,.navbar-form-custom .form-control {
    font-size: 1.2rem;
}*/

/*--- 
    color    
----*/
/*自定義sider主色系*/
body{
    background: #5e5bbe; /* Old browsers */
    background: -moz-linear-gradient(top,  #5e5bbe 0%, #6ca6d7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5e5bbe 0%,#6ca6d7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5e5bbe 0%,#6ca6d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5bbe', endColorstr='#6ca6d7',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
}
.nav > li > a,.nav-header .text-muted {
    color: #ddd;
    font-weight: normal;
}
.nav > li.active > a {
    color: #ffee5a;
}
.nav > li.active,.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus,
body.mini-navbar .nav-header,.mini-navbar .nav .nav-second-level { 
    border-left: 0;
    background-color: #5F64C1;
}
.nav-header {
    background-color: transparent;
    background-image: none;
}
/*自定義btn主色系*/
.btn-purple:hover {
    background-color: #5E5BBE;
    border-color: #5E5BBE;
    color: #fff;
}
.btn-purple,.btn-purple:focus {
    background-color: #647DC9;
    border-color: #647DC9;
    color: #fff;
}
.border_gray {
    border: 1px solid #ddd;
}
/*--- 
    size    
----*/
textarea {
    width: 100%;
    height: 150px;
}
.input-sm {
    height: 35px;
}
/*--- 
    container 
----*/  
textarea { 
    resize: none;
    padding: 6px 12px;
}
sub {
    color: #d84315;
    font-size: 12px;
    top: -0.5em;
    left: 7px;
}
/* link */
.breadcrumb > li a:hover {
    text-decoration: underline;
}
/* datepicker */
.datepicker-dropdown.datepicker-orient-left::before{
    left: 26px;
}
.datepicker-dropdown.datepicker-orient-left::after{
    left: 27px;
}
.datepicker table tr td.active.active{
    background-color: #18a689;
    border-color: #18a689;
}
.inmodal .modal-header {
    padding: 10px;
    font-size: 1.8rem;
}
.modal-alert {
    float: right;
    word-wrap: break-word;
    word-break: break-all;
}
.modal-alert button{
    margin: 10px 0 0 ;
}
.input-group[class*="col-"] {
    padding: 0 15px;
}
/*table*/
.ibox-title-with-btn {
    line-height: 35px;
    min-height: 65px;
}
.btn-primary i {
    margin-right: 5px;
}
/*table*/
.table-responsive .row {
    margin: 0 0 10px;
}
.dataTable .action a {
    padding: 0 5px;
}
.m-b-xs {
    margin: 5px 0;
}
.form-group {
    margin-bottom: 5px;
}
.form-group select{
    margin-bottom: 0; 
}
.float-e-margins .btn {
    margin-bottom: 0;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    padding: 3px;
    height: 37px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}
/*alert icon*/
.alert_al_modify {
    margin: 0 auto;
    position: relative;
    left: unset;
    top: unset;
}

/*--- 
    RWD   
----*/
@media (max-width: 768px) {
    
    .modal-alert {
        float: none;
    }
}