/* 
    Author     : ALTsai
*/
.expand {
    &-input{
        display: none;
        &:checked + .expand-label::before {
            content: "\f196";
            transform: rotate(90deg);
            transition: transform .1s ease; 
        }
        &:checked ~ .expand-wrapper{
            max-height: 0;
            transition: all .3s ease;
        }
    }
    &-label {
        display: block;
        background-color: #EFEFEF;
        text-align: left;
        padding: 15px;
        font-weight: 400;
        font-size: 1.3rem;
        &::before{    
            display: inline-block;
            content: "\f147";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 20px;
            margin-right: 5px;
            transition: transform .1s ease;
            background: #fff;
            height: 18px;
            width: 18px;
            border-radius: 5px;
        }
    }
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-height: 1000px;
        overflow: hidden;
        width: 100%;
        transition: max-height .3s ease;
        background-color: #EFEFEF;
    }
    &-content {
        width: 100%;
        text-align: left;
        padding: 0 30px 0 38px;
    }
}

.filter-input {
    color: #444;
    border: 2px solid #85C0A9;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px 5px;
    box-sizing: border-box;
    &::after {
        content: '元';
    }
}
.filter-text {
    color: #0A5979;
}
.filter-group {
    position: relative;
    > span {
        position: absolute;
        right: 10px;
        top: 4px;
    }
    
}

/*tag*/
.tag {
    &-input{
        display: none;
        &:checked + .tag-label::after {
            content: "\f00c";
            font: normal normal normal 14px/1 FontAwesome;
            transition: transform .1s ease;
            color: red;
        }
    }
    &-label {
        display: inline;
        font-weight: 300;
        color:#0A5979;
        cursor: pointer;
        &.block{
            display: block;
        }
        &::after{    
            display: inline-block;
            content: " ";
            font-size: 20px;
            margin-left: 5px;
            transition: transform .1s ease;
        }
        &.col3 {
            &::after{  
                width: calc(100% / 3 - 73px);
                text-align: left;
            }
        }
    }
}