/* 
    Author     : ALTsai
*/

$RC:#FA361C;
$YC:#FDCC49;
$BC:#6DC9EB;
$GC:#88BF2F;
$rangeLight:#A6DBF0;
$rangeDark:#161F5F;
$circle-backgroundC:#fff;
$backgroundC:#C9CACC;
$backgroundSpaceC:#EFEFEF;

$sliderSize:16px;/*記得*2*/
$sliderBtnSize:20px;

.slider.slider-horizontal {
    width: 100%;
    height: $sliderSize;
    margin-bottom: 10px;
    .slider-track {
        background: $backgroundC;
        height: $sliderSize / 2;
        width: 100%;
        margin-top: - $sliderSize / 2;
        top: 50%;
        left: 0;
    }
}
/*滑動顏色*/
.slider-selection {
    box-shadow: inherit;
}
@mixin handleInnerStyle($circle-inner-color) {
    background: $circle-inner-color;
}
/*控制鈕*/
.slider-handle {
    width: $sliderBtnSize;
    height: $sliderBtnSize;
    top: - $sliderBtnSize / 2;
}
@mixin handleStyle($circle-bg-color,$circle-width, $circle-color) {
    background: $circle-bg-color;
    border: $circle-width solid $circle-color;
}
/*背景空隙填色*/
@mixin sliderSpace() {
    background: $backgroundSpaceC;
    border-radius: 0;
}


#RC {
    .slider-selection {
	@include handleInnerStyle($RC);
    }
    .slider-handle {
	@include handleStyle($circle-backgroundC,3px,$RC);
    }
    .slider-selection.category {
	@include sliderSpace();
    }
}
#YC {
    .slider-selection {
	@include handleInnerStyle($YC);
    }
    .slider-handle {
	@include handleStyle($circle-backgroundC,3px,$YC);
    }
    .slider-selection.category {
	@include sliderSpace();
    }
}
#BC {
    .slider-selection {
	@include handleInnerStyle($BC);
    }
    .slider-handle {
	@include handleStyle($circle-backgroundC,3px,$BC);
    }
    .slider-selection.category {
	@include sliderSpace();
    }
}
#GC {
    .slider-selection {
	@include handleInnerStyle($GC);
    }
    .slider-handle {
	@include handleStyle($circle-backgroundC,3px,$GC);
    }
    .slider-selection.category {
	@include sliderSpace();
    }
}
#rangeLight {
    .slider-selection {
	@include handleInnerStyle($rangeLight);
    }
    .slider-handle {
	@include handleStyle($circle-backgroundC,3px,$rangeLight);
    }
}
#rangeDark {
    .slider-selection {
	@include handleInnerStyle($rangeDark);
    }
    .slider-handle {
	@include handleStyle($circle-backgroundC,3px,$rangeDark);
    }
}

