@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?41jsfk');
  src:  url('fonts/icomoon.eot?41jsfk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?41jsfk') format('truetype'),
    url('fonts/icomoon.woff?41jsfk') format('woff'),
    url('fonts/icomoon.svg?41jsfk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-notify:before {
  content: "\e901";
}
.icon-plus-o:before {
  content: "\e902";
}
.icon-profile:before {
  content: "\e903";
}
.icon-facebook .path1:before {
  content: "\e904";
  color: rgb(98, 100, 99);
}
.icon-facebook .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youtube .path1:before {
  content: "\e906";
  color: rgb(98, 100, 99);
}
.icon-youtube .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-youtube .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youtube .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(98, 100, 99);
}
.icon-Time:before {
  content: "\e90a";
}
.icon-pin:before {
  content: "\e90b";
}
.icon-power:before {
  content: "\e90c";
}
.icon-calories:before {
  content: "\e90d";
}
.icon-ascent:before {
  content: "\e90e";
}
.icon-cadence:before {
  content: "\e90f";
}
.icon-speed:before {
  content: "\e910";
}
.icon-hear .path1:before {
  content: "\e911";
  color: rgb(255, 80, 80);
}
.icon-hear .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bike-mountain:before {
  content: "\e913";
}
.icon-bike-road:before {
  content: "\e914";
}
.icon-bike:before {
  content: "\e915";
}
.icon-training-o:before {
  content: "\e916";
}
.icon-edit .path1:before {
  content: "\e91a";
  color: rgb(51, 51, 51);
}
.icon-edit .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-edit .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-edit .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-edit .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-run:before {
  content: "\e91f";
}
.icon-date:before {
  content: "\e920";
}
.icon-data:before {
  content: "\e921";
}
.icon-file:before {
  content: "\e922";
}
.icon-success:before {
  content: "\e923";
}
.icon-fail:before {
  content: "\e924";
}
.icon-warning:before {
  content: "\e925";
}
.icon-upload:before {
  content: "\e926";
}
.icon-setting:before {
  content: "\e927";
}
.icon-profile-outline .path1:before {
  content: "\e928";
  color: rgb(133, 133, 133);
}
.icon-profile-outline .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(133, 133, 133);
}
.icon-profile-outline .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(148, 148, 148);
}
.icon-cloud:before {
  content: "\e92b";
}
.icon-cloud-outline:before {
  content: "\e92c";
}
.icon-pen:before {
  content: "\e92d";
}
.icon-trash:before {
  content: "\e92e";
}
.icon-cancel:before {
  content: "\e92f";
}
.icon-cancel-o .path1:before {
  content: "\e930";
  color: rgb(56, 56, 56);
}
.icon-cancel-o .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cancel-o .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-plus:before {
  content: "\e933";
}
.icon-gotop .path1:before {
  content: "\e934";
  color: rgb(31, 89, 166);
  opacity: 0.8;
}
.icon-gotop .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-flat:before {
  content: "\e936";
}
.icon-training:before {
  content: "\e937";
}
.icon-group:before {
  content: "\e938";
}
.icon-icon-1:before {
  content: "\e939";
}

